<div class="jumbotron">
    <h1>Welcome back <b color="red">@ViewBag.TenantName</b></h1>
    <a href="Tenants/Create">Create new Tenant</a>
    <br /> 
    <br />
    <a href="Tenants/List">List of Tenants</a>
</div>
